body {
    background-color: #e9f0f1;
    margin: 0;
    font-family: sans-serif;
}

section {
    height: 720px;
}

/** {
    outline: 1px solid yellow;
}*/

.frontpage {
    height: 724px;
}

.frontimage img {
    float: right;
    max-height: 650px;
    padding-top:38px;
    padding-right: 18px;
}

.star {
    color: #000000;
}

.sitetitle {
    color: #d27b25;
    outline: 6px solid #000000;
    max-width: 350px;
    margin-top: 150px;
    float: right;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 5em;
    margin-right: 240px;
}

.navigation {
    float: right;
    padding: 10px;
    margin-top: 138px;
    outline: 2px solid #d27b25;
    margin-right: 205px;
}

.navigation a {
    color: #d27b25;
    text-decoration: none;
    font-size: .75em;
    padding-left: 10px;
    padding-right: 10px;
}

.glassesimage img {
    float: right;
    max-width: 300px;
    margin-right: 267px;
    margin-top: 66px;
}

.navigation1 {
    padding: 10px;
    margin-top: 10px;
    outline: 2px solid #d27b25;
    margin-top: 20px;
    max-width: 450px;
    margin-left: auto;
    margin-right: auto;
}

.navigation1 a {
    color: #d27b25;
    text-decoration: none;
    font-size: .75em;
    padding-left: 10px;
    padding-right: 10px;
}

.about {
    font-size: 5em;
    margin-top: 70px;
    margin-left: 300px
}

.aboutparagraph {
    max-width: 600px;
    max-height: 100px;
    outline: 2px solid #000000;
    margin-left: 200px;
}

.about2 {
    font-size: 3em;
    outline: 2px solid #d27b25;
    color: #d27b25;
    max-width: 400px;
    max-height:100px; 
}

