body {
    background-color: #e9f0f1;
    margin: 0;
    font-family: sans-serif;
}

* {
    outline: 1px solid yellow;
}

.frontimage img {
    float: right;
    max-height: 650px;
    padding-top:38px;
    padding-right: 18px;
}

.star {
    color: #d27b25;
}

.sitetitle {
    color: #d27b25;
    outline: 6px solid #d27b25;
    max-width: 350px;
    margin-top: 150px;
    float: right;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 5em;
    margin-right: 240px;
}

.navigation {
    float: right;
    color: #000000;
    padding-top: 30px;
    padding-top: 8px;
    margin: 138px;
    outline: 2px solid #d27b25;
    margin-right: 210px;
}

.navigation a {
    color: #d27b25;
    text-decoration: none;
    font-size: .75em;
    padding-left: 10px;
    padding-right: 10px;
}

.glassesimage img {
    float: right;
    max-width: 300px;
    margin-right: 267px;
    
}

