body {
    background-color: #f2f2f2;
    margin: 0;
    font-family: sans-serif;
}

* {
    outline: 1px solid yellow;
}

.header {
    background-color: #2d303a;
    height: 90px;
}

.navigation {
    max-width: 950px;
    margin-left: auto;
    margin-right: auto;
    color: white;
}

.links {
    float: right;
    color: #44495b;
    padding-top: 30px;
}

.links a {
    color: white;
    text-decoration: none;
    font-size: .75em;
    padding-left: 10px;
    padding-right: 10px;
}

.salmon {
    color: #f06c64;
}

.logo {
    float: left;
    margin-top: 28px;
    font-size: 1.25em;
}

.banner {
    background-color: #f06c64;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.banner img {
    width: 90%;
    max-width: 950px;
}

@media screen and (max-width: 550px) {
    
    .links {
   
    padding-top: 8px;
    float: left;
    }
}






